/*Jenn Alarcon
	Created 3/26: Just started with basic coloring, and center */
/*Sunny Patel & Kenton Steiner
	Modified 3/28: Changed background, and overhauled calculator design */
body{
	background-image: url("ep_naturalblack.png");
}

#display  {
	margin-top: .5em;
	padding-top: .5em;

}

.container {
	text-align: center;
	background-color: #907f9b;
	width: 22em;
	border: 1px solid;
	border-radius: 5%;
	margin: auto;
	/*Maybe we should try to center it?*/

}


#mainbuttons  p input{
	font-size: 1.5em;
	width: 2.5em;
	background-color: #EDD1FF;
	box-shadow: 1px 1px 2px 1px #67427F;
}
#mainbuttons p {
	margin-top: .5em;
	margin-bottom: 0;
}
#display input{
	width:  16em;
	margin: 0;
	height: 4em;
	text-align: right;
}

/*Greater specificity than those for the common buttons*/
#mainbuttons #clear {
	width: 5.5em;
	margin-bottom: .5em;
}